.container {
  padding: 10px;
}

.hlist {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.hlist > * + * {
  margin-left: 10px;
}

.mixHlistSpaceBetween {
  justify-content: space-between;
}

.mixHlistSpaceEvenly {
  justify-content: space-evenly;
}
