.container {
  padding: 10px;
}

.hlist,
.hlistSpacious {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.hlist > * + * {
  margin-left: 10px;
}

.hlistSpacious > * + * {
  margin-left: 30px;
}

.mixHlistSpaceBetween {
  justify-content: space-between;
}

.mixHlistSpaceEvenly {
  justify-content: space-evenly;
}

.stereo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.vr1 {
  margin-bottom: 10px;
}

.vr2 {
  margin-bottom: 20px;
}

.vr3 {
  margin-bottom: 30px;
}

.vr4 {
  margin-bottom: 40px;
}

.mixIsGreenText {
  color: #26b926 !important;
}

.mixIsRedText {
  color: #ff4b30 !important;
}

/* --- */
.selectedMoveList {
  font-size: 90%;
  font-style: italic;
  margin: 0 0 10px 15px;
  min-height: 25px;
}

.selectedMoveListItem:hover {
  cursor: pointer !important;
}

/* --- */
.stackedBarChart {
}

.stackedBarChartHd {
  font-size: 110%;
  font-weight: 600;
  margin-left: 15px;
  padding: 5px 0;
}

.stackedBarChartBd {
  margin-top: 5px;
}

.stackedBarChartBdRow {
  align-items: center;
  display: flex;
}

.stackedBarChartBdRow + .stackedBarChartBdRow {
  margin-top: 5px;
}

.stackedBarChartBdRowDataItem,
.stackedBarChartBdRowXaxisLabel {
  padding: 4px;
}

.stackedBarChartBdRowLeftAxisLabel,
.stackedBarChartBdRowRightAxisLabel {
  min-width: 60px;
}

.stackedBarChartBdRowLeftAxisLabel {
  padding-right: 10px;
  text-align: right;
}

.stackedBarChartBdRowRightAxisLabel {
  padding-left: 10px;
  text-align: left;
}

.stackedBarChartBdRowData {
  display: flex;
  flex-grow: 1;
}

.stackedBarChartBdRowDataItem {
  border-radius: 3px;
  cursor: pointer;
  margin-right: 2px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.stackedBarChartBdRowDataItem:hover {
  background-color: #999999;
}

.mixStackedBarChartBdRowDataItemWin {
  background-color: #97d297;
}

.mixStackedBarChartBdRowDataItemDraw {
  background-color: #bce6ff;
}

.mixStackedBarChartBdRowDataItemLoss {
  background-color: #ffb5aa;
}

/* -- */
/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap {
  height: 200px;
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */
.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}
